body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #68064b;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    background-color:peru;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.status {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color:yellowgreen;
}
